@font-face {
  font-family: '116watermelon';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.0/116watermelon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


p {
  font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif;
}
